<div class="container">
  <div class="row">
    <section class="content">
      <h1> List Poster </h1>
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">            
            <div class="table-container">
              <%= paginate @posts %>
              <table class="table table-filter table-striped span12 table_position" >
                <thead class="thead-dark">
                  <tr class="d-flex">
                    <th class="col-1">ID</th>
                    <th class="col-5">TITLE</th>                    
                    <th class="col-2">PRICE</th>                    
                    <th class="col-2">AREA</th>
                    <th class="col-3">DATE CREATE</th>
                    <th class="col-2">OWNER_ID</th> 
                    <th class="col-1"></th>                             
                    <th class="col-1"></th> 
                    <th class="col-2"></th> 
                  </tr>              
                </thead>
                <tbody>
                   <% @posts.each do |post| %>
                      <tr class="d-flex">
                        <td class="col-1"><%= post.id %></td>  
                        <td class="col-5"><%= post.title %></td>                       
                        <td class="col-2"><%= post.price %></td>
                        <td class="col-2"><%= post.area %></td>
                        <td class="col-3"><%= post.created_at %></td>
                        <td class="col-2"><%= post.user_id %></td>                                             
                        <td class="col-1"><%= link_to 'Show', '' %></td>
                        <td class="col-1"><%= link_to 'Edit', '' %></td>
                        <td class="col-2"><%= link_to 'Destroy', '', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>                    
                    <% end %>                    
                </tbody>              
              </table>                                               
            </div>            
          </div>
        </div>
        <%= paginate @posts %>
        <section class="footer bg-dark">
          <div class="content-footer container-fluid">
            <p>
              Page CMS ©Homedy - 2-8-2018 <br>
              Contact: <a href=" " target="_blank">Facebook Homedy Group @_@ </a>
            </p>
          </div>
        </section> 

      </div>
    </section>    
  </div>
</div>